.Input {
    position: relative;
    z-index: 3;

    width: 100%;
    height: 100%;

    margin: 0;

    padding: 0 .5em;

    background-color: var(--background-color);

    outline: none;
    border: none;

    color: var(--color);
    font-family: inherit;
    font-size: 1em;
    font-weight: 200;

    transition: background .3s;
}

.Input.disabled {
    
}